<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}


</style>
</head>




<body style="background-color: white;">
<!-- DROPDOWN --->
  <div class="dropdown">
    <img class="imagenDropDown" src="../../assets/plus.jpeg">
    <div class="dropdown-content ">
      <div class="sidenav">
        <div class="red-bar"></div>
        <img src="../../assets/plus.jpeg" class="imagenDropDown2" alt= "image" >
        <a href="#">Perfil</a>
        <a href="#">Ajustes</a>
        <a href="#">Amigos</a>
        <a href="#">Usuarios conectados.</a>
        <div class="usuarioConectado" >
          <img src="/assets/ardilla.jpg" class="imagenConectadoDropDown" alt= "Foto Conectado" >
        </div>
        <div class="usuarioConectado" >
          <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt= "Foto Conectado" >
        </div>
        <div class="usuarioConectado" >
          <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt= "Foto Conectado" >
        </div>
      
        
      </div>
    </div>
    </div>
    <!-- FIN DEL Dropdown --->

  
  
  <h2 class="titulo">Unired</h2>
  <div style="margin-top: 2%;">
    
    <!-- Contenedor del perfil del usuario. --->
    <div class="content" >
    
    <div class="resumenPerfil" >
      <img src="../../assets/gato.jpg" class="imagenRP" alt="Foto Perfil." >
      <input type="hidden" class="publicacion" value="publicacion">
      <div class="divTextosRP">
      <h2>Nombre<span class="nombreUsuario"></span></h2>
      <p>Datos de Amigo <span class="mainPublicacion"></span></p>

      </div>
      
    </div>
    <!--  FIN Contenedor del perfil del usuario. --->
   
      
    <div class="barra-horizontal"></div>
    
    <!-- Contenedores de contenido de PerfilA. --->
    
    <div class="gridCPA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
    </div>
    <div class="barra-horizontal"></div>
    <div class="gridCPA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
    </div>
    <div class="barra-horizontal"></div>
    <div class="gridCPA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
        <img  src="../../assets/ardilla.jpg" class="imagenCPA" alt= "Contenido PA">
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" >2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>

  </div>
  
</div>



</body>
</html>




